.good__edit {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form {
  display: flex;
}

.form__column {
  display: flex;
  flex-direction: column;
}

.form__column label {
  margin-top: 5px;
}

.form__buttons {
  margin-top: 10px;
}

.verify + span {
  display: none;
  /* color: red; */
}

.not-verify {
  background-color: rgba(255, 0, 0, 0.5);
}

.not-verify + span {
  position: absolute;
  margin-left: 10px;
  display: inline;
  color: red;
}
